<!DOCTYPE html>

<html>
<body>
    <script>
    function ledon(){ 
        window.location.href='http://192.168.8.104:5000/led/on' 
    } 
 
    function ledoff(){ 
        window.location.href='http://192.168.8.104:5000/led/off' 
    } 
 
    function select1(){ 
        window.location.href='http://192.168.8.104:5000/select'
    } 
 
    </script> 
 
  
 
    <input type=button value="Led on" onclick='ledon()'> 
 
    <input type=button value="Led off" onclick='ledoff()'> 
 
    <input type=button value="Select" onclick='select1()'> 
 
</body> 
 
</html>